.custom-content:has(#yotpo-reviews-main-widget) {flex-flow: row wrap;}
.custom-content:has(#yotpo-reviews-main-widget) .yotpo-widget-instance {width: 620px;}
.custom-content:has(#yotpo-reviews-main-widget) > .custom__item:first-child { width: calc(100% - 650px); }
.custom-content:has(#yotpo-reviews-main-widget) .custom__item {/* flex: auto; */width: 620px;}

@media only screen and (max-width: 1100px) {
    .custom-content:has(#yotpo-reviews-main-widget) {flex-flow: column;}
    .custom-content:has(#yotpo-reviews-main-widget) .yotpo-widget-instance {min-width: unset; width: 100%;}
    .custom-content:has(#yotpo-reviews-main-widget) > .custom__item:first-child { width: 100%; }
    .custom-content:has(#yotpo-reviews-main-widget) .custom__item {flex: auto;width: 100%;}
}

#yotpo-reviews-main-widget {padding-left: 30px;}
#yotpo-reviews-main-widget .yotpo-bottom-line { gap: 20px; }
#yotpo-reviews-main-widget .yotpo-base-layout { width: 100% !important; }
#yotpo-reviews-main-widget .yotpo-summary-section .yotpo-bottom-line-summary { flex-direction: column; }
#yotpo-reviews-main-widget .yotpo-summary-section .yotpo-bottom-line-summary .yotpo-bottom-line-right-panel { padding: 0; margin: 0; }
#yotpo-reviews-main-widget .yotpo-summary-section .yotpo-bottom-line-summary .yotpo-bottom-line-right-panel .yotpo-star-rating.yotpo-bottom-line-stars { justify-content: center; }
#yotpo-reviews-main-widget .yotpo-summary-section .yotpo-bottom-line-summary .yotpo-bottom-line-right-panel .yotpo-bottom-line-text { text-align: center; }
#yotpo-reviews-main-widget .yotpo-layout-header-wrapper { flex-direction: column; }
#yotpo-reviews-main-widget .yotpo-layout-header-wrapper .yotpo-bottom-line {margin-bottom: 30px;margin-right: 0;}
#yotpo-reviews-main-widget .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution { border-right: none !important; padding-right: 0; }
#yotpo-reviews-main-widget .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel { order: 3; flex-basis: 100%; margin-top: 30px; padding: 0; }
#yotpo-reviews-main-widget .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title { flex-direction: column; }
#yotpo-reviews-main-widget .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-review-title { margin: 10px 0 0; }
#yotpo-reviews-main-widget .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel { order: 2; }

/* Q&A Widget */
#yotpo-questions-and-answers .yotpo-main-layout { width: 100% !important; }
#yotpo-questions-and-answers .yotpo-ask-question-btn-wrapper { position: static; transform: none; margin: 30px auto 0; justify-content: center; }