<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reviews Carousel v2 Template</title>
    
    <!-- UNIVERSAL CSS CODES -->
    <link rel="stylesheet" href="../uni-styles.css">

    <!-- LOCAL CSS CODES -->
    <link rel="stylesheet" href="style.css">
    
    <script type="text/javascript">
      (function e(){var e=document.createElement("script");e.type="text/javascript",
      e.async=true,e.src="//staticw2.yotpo.com/rj74UZEzEEqYa1gTFXC3BLbr9GzC5SKjKXKupEpg/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="../yotpo.png"
          width="250"
        />
      </div>
    </header>
    <div class="wrapper v2_carousel">
      <!-- REVIEWS CAROUSEL WIDGET -->
      <div class="yotpo yotpo-reviews-carousel" data-background-color="transparent" data-mode="most_recent" data-type="both" data-count="5" data-show-bottomline="1" data-autoplay-enabled="1" data-autoplay-speed="3000" data-show-navigation="1">&nbsp;</div>
    </div>
  </body>
</html>
