@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #000000;
    --secondary-color: #000018;
    --star-color: #ffcac2;
    --filter-border-color: #eaeaea;
    
    --hover-effect-color: #FFF0ED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
}

body {
    font-family: 'Open Sans', sans-serif;
}


.customer-review-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 3rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {

    .customer-review-container{
        padding: 2rem 1rem;
    }
}