@font-face {
    font-family: 'Madera';
    src: url('Madera-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Madera';
    src: url('Madera-Bold.ttf') format('truetype');
    font-weight: 700;
}
