<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Promoted Products v3 Preview Template</title>
    
    <!-- UNIVERSAL CSS CODES -->
    <link rel="stylesheet" href="../uni-styles.css">

    <!-- LOCAL CSS CODES -->
    <link rel="stylesheet" href="style.css">
    
    <script
      src="https://cdn-widgetsrepository.yotpo.com/v1/loader/rj74UZEzEEqYa1gTFXC3BLbr9GzC5SKjKXKupEpg"
      async
    ></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="../yotpo.png"
          width="250"
        />
      </div>
    </header>
    <div class="wrapper qna_v3">
      <!-- Q&A WIDGET -->
      <div
        class="yotpo-widget-instance"
        data-yotpo-instance-id="622001"
        mode-preview="true"
      ></div>
    </div>
  </body>
</html>
