<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reviews Widget v2 Template</title>
    
    <!-- UNIVERSAL CSS CODES -->
    <link rel="stylesheet" href="../uni-styles.css">

    <!-- LOCAL CSS CODES -->
    <link rel="stylesheet" href="style.css">
    
    <script type="text/javascript">
      (function e(){var e=document.createElement("script");e.type="text/javascript",
      e.async=true,e.src="//staticw2.yotpo.com/rj74UZEzEEqYa1gTFXC3BLbr9GzC5SKjKXKupEpg/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="../yotpo.png"
          width="250"
        />
      </div>
    </header>
    <div class="wrapper v2_reviews">
      <!-- REVIEWS WIDGET -->
      <div class="yotpo yotpo-main-widget" 
        data-product-id="810"
        data-price="{{ variant.price | money_without_currency }}"
        data-currency="{{ shop.currency }}" 
        data-name="Test Product 1001" 
        data-url="{{ shop.url }}{{ product.url }}" 
        data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
        data-description="{{ product.description | escape }}"> 
      </div>

      <!-- REVIEWS TAB -->

    </div>
  </body>
</html>
