
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.faq-sidebar {
    width: 300px;
    background: #f4f4f4;
    padding: 20px;
    height: 100vh;
    position: unset;
    top: 0;
    overflow-y: auto;
    box-sizing: border-box;
}
.faq-sidebar h3 {
    color: #333;
    font-size: 16px;
    margin: 0;
    line-height: 100%;
}
.faq-sidebar h3:not(:first-child){
    margin-top: 30px;
}
.faq-sidebar h3 span {
    font-size: 9px;
    font-style: oblique;
    color: rebeccapurple;
}
.faq-link {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
.faq-link.active, .faq-link:hover {
    background: #007b7f;
    color: white;
}
.faq-link.active h3, .faq-link:hover h3, .faq-link.active h3 span, .faq-link:hover h3 span {
    color: #fff;
}
.faq-content {
    flex: 1;
    padding: 0;
    margin-left: 0;
    width: 0;
    box-sizing: border-box;
}
.faq-iframe {
    width: 100%;
    height: 100vh;
    border: none;
}
@media (max-width: 768px) {
    body {overflow: auto;}
    .faq-sidebar {
        width: 100%;
        height: auto;
        position: relative;
        box-sizing: revert;
    }
    .faq-content {
        margin-left: 0;
        width: 100%;
        box-sizing: revert;
    }
}